body {
    font-family: Arial, sans-serif;
    background-color: #1D3C34;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0F221A;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #B2D8C7;
}

main {
    padding: 20px;
}

a {
    color: #B2D8C7;
    text-decoration: none;
}