body {
    font-family: Arial, sans-serif;
    background-color: #062f4a;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #031826;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #062f4a;
}

main {
    padding: 20px;
}

a {
    color: #062f4a;
    text-decoration: none;
}
